v1_activity.json
[{"id":"2b5600a.f35488","type":"http in","z":"6cc3f3a9.76658c","name":"","url":"/v1/activity","method":"get","swaggerDoc":"","x":130.1666717529297,"y":181,"wires":[["9cad92a.bb64ff"]]},{"id":"af054ad.c2aa3b8","type":"http response","z":"6cc3f3a9.76658c","name":"","x":931.1666717529297,"y":117,"wires":[]},{"id":"9cad92a.bb64ff","type":"function","z":"6cc3f3a9.76658c","name":"","func":"msg.request = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":314.16668701171875,"y":178,"wires":[["36494aaf.ab5b36"]]},{"id":"d5adf93e.a02888","type":"function","z":"6cc3f3a9.76658c","name":"","func":"if(msg.payload !== null){\nmsg.request._id = msg.payload._id;\nmsg.request._rev = msg.payload._rev;\nmsg.payload = msg.request;\n}\nreturn msg;","outputs":1,"noerr":0,"x":679.1666412353516,"y":181.00001525878906,"wires":[["6887423d.130ba4","af054ad.c2aa3b8"]]},{"id":"6887423d.130ba4","type":"cloudant out","z":"6cc3f3a9.76658c","name":"","cloudant":"","database":"deboo","service":"deboo-cloudantNoSQLDB","payonly":true,"operation":"insert","x":926.1666870117188,"y":265,"wires":[]},{"id":"36494aaf.ab5b36","type":"cloudant in","z":"6cc3f3a9.76658c","name":"","cloudant":"","database":"deboo","service":"deboo-cloudantNoSQLDB","search":"_idx_","design":"index","index":"IndexByUserId","x":466.1666717529297,"y":179,"wires":[["d5adf93e.a02888"]]}]